body {
    color: azure;
    font-weight: bold;
    font-size: 20px;
    font-family: "Courier New";
    background: rgb(200, 232, 241);
}

body::after {
    content: "";
    background-image: url("bot.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}

#user {
    color: rgb(70, 5, 1);
}

#bot {
    color: indigo;
}

span {
    color: rgb(0, 0, 0);
}

::-webkit-input-placeholder {
    color: darkgray;
}

#main {
    position: fixed;
    /* top: 40%; */
    right: 200px;
    width: 400px;
    border: 0ps solid rgb(129, 129, 129);
    padding: 40px;
}

#main div {
    margin: 10px;
}

#input {
    border: 0;
    padding: 5px;
    border: 1px solid rgb(129, 129, 129);
}