body {
    /* color: azure; */
    font-weight: bold;
    font-size: 20px;
    font-family: "Courier New";
    /* background: rgb(200, 232, 241); */
}

body::after {
    content: "";
    background-image: url("bot.png");
    background-repeat: round;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}

#user {
    color: rgb(109, 5, 0);
}

#bot {
    color: indigo;
}

span {
    color: rgb(0, 0, 0);
}

::-webkit-input-placeholder {
    color: darkgray;
}

#main {
    position: center;
    /* border: 0ps solid rgb(129, 129, 129); */
    padding: 40px;
    background-color: rgba(240, 255, 255, 0.568);
    background-position: center;
}

#main div {
    margin: 10px;
}

#input {
    border: 0;
    padding: 5px;
    border: 1px solid rgb(129, 129, 129);
}

